/* CSS for RatingXBlock */

.ratingxblock_block .count {
    font-weight: bold;
}

.ratingxblock_block p {
    cursor: pointer;
}

.fa.fa-star.checked ~ span:before {
  color: black;
}

.fa.fa-star {
  cursor: pointer; 
  color: orange;
}
